/*------------------------------CSS------------------------------*/
/*---------------------------------------------------------------*/
/*------------------------------TAGS-----------------------------*/
/*---------------------------------------------------------------*/
*{
	margin: 0px;
	padding: 0px;
	font-family: helvetica, arial;
}
body{
	background-color: #34333B;
}
h1{
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: "Helvetica", "Times New Roman";
	margin-bottom: 20px;
	text-shadow: 1px 1px 1px #111111;
	padding-top: 20px;
}
p{
	color: white;
	font-size: 17px;
	font-family: helvetica,arial;
	text-align: center;
	text-shadow: 1px 1px 1px #111111;
	padding-bottom: 30px;
}
header{
	background-color: #012741;
	min-height: 80px;
	padding-top: 20px; 
}

footer{
	background-color: #012741;
	height: 80px;
	text-align: center;
	text-shadow: 1px 1px 1px #111111;
	color: white;
	padding-top:30px;
}
/*---------------------------------------------------------------*/
/*------------------------------IDs------------------------------*/
/*---------------------------------------------------------------*/
#div_principal{
	min-height: 200px;
	width: 100%;
	background-image:url('../img/city.jpg');
	background-size: 100%;
	min-height: 500px; 
	padding-top: 70px;
}
/*IDs que controlam a barra de menu*/
#logo{
	float: left;
	margin-left: 203px;
}
#menu{
	float: right;
	margin-right: 203px;
	margin-top: 20px;
}
#menu a{
	padding: 43px 20px;
	text-decoration: none;
	color: white;;
	text-shadow: 1px 1px 1px #111111;
}
#menu a:hover{
	color: white	;
	background-color: #04578F;
}
/*IDs que controlam a página contato*/
#contato a{
	text-decoration: none;
	color: white;;
	text-shadow: 1px 1px 1px #111111;
}
#contato a:hover{
	color: yellow;
}
#contato h2{
	text-shadow: 1px 1px 1px #111111;	
}
#QuemSomos{

}
/*---------------------------------------------------------------*/
/*----------------------------Classes----------------------------*/
/*---------------------------------------------------------------*/
}
.conteiner{
	width: 950px;
	margin: auto; 
}
.efect{
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}
.contato{
	width: 480px;
	min-height: 200px;
	margin: auto;
	background-color: rgba(0,0,0,0.6);
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
}
.sobre{
	width: 560px;
	margin: auto;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.6);
	padding: 20px;
}
.QuemSomos{
	width: 560px;
	margin: auto;
	padding: 20px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.6);
}